<div class="mediz-page-title-wrap  mediz-style-custom mediz-left-align">
    <div class="mediz-header-transparent-substitute"></div>
    <div class="mediz-page-title-overlay"></div>
    <div class="mediz-page-title-container mediz-container">
        <div class="mediz-page-title-content mediz-item-pdlr">
            <h1 class="mediz-page-title">
                <%- pageInfo.title %>
            </h1>
            <div class="mediz-page-caption">Home / <%= parentSlug %> / <%- pageInfo.slug %></div>
        </div>
    </div>
</div>