<div
  class="gdlr-core-pbf-wrapper"
  style="padding: 0px 0px 0px 0px"
  data-skin="Mediz A1 Column SVC"
>
  <div class="gdlr-core-pbf-background-wrap"></div>
  <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
    <div
      class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space"
    >
      <div
        class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first"
        id="gdlr-core-column-2706"
      >
        <div
          class="gdlr-core-pbf-column-content-margin gdlr-core-js"
          style="padding: 50px 0px 60px 60px"
          data-sync-height="col-features-hp-2"
          data-sync-height-center
        >
          <div class="gdlr-core-pbf-background-wrap">
            <div
              class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
              style="
                background-image: url(upload/BG-icon1.jpg);
                background-size: cover;
                background-position: center;
              "
              data-parallax-speed="0"
            ></div>
          </div>
          <div
            class="gdlr-core-pbf-column-content clearfix gdlr-core-js gdlr-core-sync-height-content"
          >
            <div class="gdlr-core-pbf-element">
              <div
                class="gdlr-core-column-service-item gdlr-core-item-pdb gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-with-caption gdlr-core-item-pdlr"
                style="padding-bottom: 0px"
              >
                <div
                  class="gdlr-core-column-service-media gdlr-core-media-image"
                  style="margin-top: 10px"
                >
                  <img
                    src="upload/icon-1-1.png"
                    alt=""
                    width="30"
                    height="30"
                    title="icon-1"
                  />
                </div>
                <div class="gdlr-core-column-service-content-wrapper">
                  <div
                    class="gdlr-core-column-service-title-wrap"
                    style="margin-bottom: 0px"
                  >
                    <h3
                      class="gdlr-core-column-service-title gdlr-core-skin-title"
                      style="
                        font-size: 21px;
                        font-weight: 500;
                        letter-spacing: 0px;
                        text-transform: none;
                      "
                    >
                      Visit our Hospital
                    </h3>
                    <div
                      class="gdlr-core-column-service-caption gdlr-core-info-font gdlr-core-skin-caption"
                      style="
                        font-size: 19px;
                        font-weight: 600;
                        font-style: italic;
                      "
                    >
                      <%= locals.settings.siteAddress %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="gdlr-core-pbf-column gdlr-core-column-20"
        id="gdlr-core-column-63819"
      >
        <div
          class="gdlr-core-pbf-column-content-margin gdlr-core-js"
          style="padding: 50px 0px 60px 60px"
          data-sync-height="col-features-hp-2"
          data-sync-height-center
        >
          <div
            class="gdlr-core-pbf-background-wrap"
            style="background-color: #113989"
          ></div>
          <div
            class="gdlr-core-pbf-column-content clearfix gdlr-core-js gdlr-core-sync-height-content"
          >
            <div class="gdlr-core-pbf-element">
              <div
                class="gdlr-core-column-service-item gdlr-core-item-pdb gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-with-caption gdlr-core-item-pdlr"
                style="padding-bottom: 0px"
              >
                <div
                  class="gdlr-core-column-service-media gdlr-core-media-image"
                  style="margin-top: 10px"
                >
                  <img
                    src="upload/icon2.png"
                    alt=""
                    width="33"
                    height="31"
                    title="icon2"
                  />
                </div>
                <div class="gdlr-core-column-service-content-wrapper">
                  <div
                    class="gdlr-core-column-service-title-wrap"
                    style="margin-bottom: 0px"
                  >
                    <h3
                      class="gdlr-core-column-service-title gdlr-core-skin-title"
                      style="
                        font-size: 21px;
                        font-weight: 500;
                        letter-spacing: 0px;
                        text-transform: none;
                      "
                    >
                      Contact & Appointment
                    </h3>
                    <div
                      class="gdlr-core-column-service-caption gdlr-core-info-font gdlr-core-skin-caption"
                      style="
                        font-size: 19px;
                        font-weight: 600;
                        font-style: italic;
                      "
                    >
                      <%= locals.settings.siteEmail %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="gdlr-core-pbf-column gdlr-core-column-20"
        id="gdlr-core-column-18977"
      >
        <div
          class="gdlr-core-pbf-column-content-margin gdlr-core-js"
          style="padding: 50px 0px 60px 60px"
          data-sync-height="col-features-hp-2"
          data-sync-height-center
        >
          <div class="gdlr-core-pbf-background-wrap">
            <div
              class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
              style="
                background-image: url(upload/Bg-icon3.jpg);
                background-size: cover;
                background-position: center;
              "
              data-parallax-speed="0"
            ></div>
          </div>
          <div
            class="gdlr-core-pbf-column-content clearfix gdlr-core-js gdlr-core-sync-height-content"
          >
            <div class="gdlr-core-pbf-element">
              <div
                class="gdlr-core-column-service-item gdlr-core-item-pdb gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-with-caption gdlr-core-item-pdlr"
                style="padding-bottom: 0px; padding-left: 0px"
              >
                <div
                  class="gdlr-core-column-service-media gdlr-core-media-image"
                  style="margin-top: 10px"
                >
                  <img
                    src="upload/icon3.png"
                    alt=""
                    width="39"
                    height="30"
                    title="icon3"
                  />
                </div>
                <div class="gdlr-core-column-service-content-wrapper">
                  <div
                    class="gdlr-core-column-service-title-wrap"
                    style="margin-bottom: 0px"
                  >
                    <h3
                      class="gdlr-core-column-service-title gdlr-core-skin-title"
                      style="
                        font-size: 21px;
                        font-weight: 500;
                        letter-spacing: 0px;
                        text-transform: none;
                      "
                    >
                      Emergency Service
                    </h3>
                    <div
                      class="gdlr-core-column-service-caption gdlr-core-info-font gdlr-core-skin-caption"
                      style="
                        font-size: 19px;
                        font-weight: 600;
                        font-style: italic;
                      "
                    >
                      Call : <%= locals.settings.sitePhone %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
