<div
  class="mediz-navigation-bar-wrap mediz-style-solid mediz-sticky-navigation mediz-sticky-navigation-height mediz-style-left mediz-style-fixed"
>
  <div class="mediz-navigation-background"></div>
  <div class="mediz-navigation-container clearfix mediz-container">
    <div class="mediz-navigation mediz-item-pdlr clearfix">
      <div class="mediz-main-menu" id="mediz-main-menu">
        <ul id="menu-main-navigation-1" class="sf-menu">
          <li
            class="menu-item menu-item-home current-menu-item page_item page-item-7684 current_page_item mediz-normal-menu"
          >
            <a href="/">Home</a>
          </li>
          <% allPages.forEach(async (page) => { %>
          <li class="menu-item menu-item-has-children">
            <a href="/pages/<%= page.slug %>"> <%= page.title %> </a>
            <% if (children.length > 0) { %>
            <ul class="sub-menu">
              <% children.forEach(async child => { %>
              <li class="menu-item">
                <a href="/pages/<%= child.slug %>">Our Doctor</a>
              </li>
              <% }) %>
            </ul>
            <% } %>
          </li>
          <% }) %>
        </ul>

        <div
          class="mediz-navigation-slide-bar mediz-navigation-slide-bar-style-2"
          data-size-offset="0"
          id="mediz-navigation-slide-bar"
        ></div>
      </div>
      <div class="mediz-main-menu-right-wrap clearfix">
        <div class="mediz-main-menu-search" id="mediz-top-search">
          <i class="icon-magnifier"></i>
        </div>
        <div class="mediz-top-search-wrap">
          <div class="mediz-top-search-close"></div>

          <div class="mediz-top-search-row">
            <div class="mediz-top-search-cell">
              <form
                role="search"
                method="get"
                class="search-form"
                action="index.html"
              >
                <input
                  type="text"
                  class="search-field mediz-title-font"
                  placeholder="Search..."
                  value=""
                  name="s"
                />
                <div class="mediz-top-search-submit">
                  <i class="fa fa-search"></i>
                </div>
                <input type="submit" class="search-submit" value="Search" />
                <div class="mediz-top-search-close">
                  <i class="icon_close"></i>
                </div>
              </form>
            </div>
          </div>
        </div>
        <a
          class="mediz-main-menu-right-button mediz-button-1 mediz-style-round"
          href="#"
          target="_self"
          >Contact Now</a
        >
      </div>
    </div>
    <!-- mediz-navigation -->
  </div>
  <!-- mediz-header-container -->
</div>
