<header
  class="mediz-header-wrap mediz-header-style-bar mediz-header-background mediz-style-left"
>
  <div class="mediz-header-container clearfix mediz-container">
    <div class="mediz-header-container-inner">
      <div class="mediz-logo mediz-item-pdlr">
        <div class="mediz-logo-inner">
          <a class="responsive" href="/"
            ><img src="upload/logo-1.png" width="100%" title="<%= title %>"
          /></a>
        </div>
      </div>
      <div class="mediz-logo-right-text mediz-item-pdlr clearfix">
        <div class="mediz-logo-right-text-wrap">
          <i class="mediz-logo-right-text-icon icon-check"></i>
          <div class="mediz-logo-right-text-content-wrap">
            <div class="mediz-logo-right-text-title">Trusted By</div>
            <div class="mediz-logo-right-text-caption">
              <%= '2,000' %>+ People
            </div>
          </div>
        </div>
        <div class="mediz-logo-right-text-wrap">
          <i class="mediz-logo-right-text-icon icon-check"></i>
          <div class="mediz-logo-right-text-content-wrap">
            <div class="mediz-logo-right-text-title">24/7 Online Support</div>
            <div class="mediz-logo-right-text-caption text-red">
              <a
                href="#"
                class="text-red btn"
                style="
                  color: red;
                  font-weight: bold;
                  font-size: 16px;
                  text-decoration: none;
                "
                >CHAT WITH A DOCTOR</a
              >
            </div>
          </div>
        </div>
        <div class="mediz-logo-right-text-wrap">
          <i class="mediz-logo-right-text-icon icon-check"></i>
          <div class="mediz-logo-right-text-content-wrap">
            <div class="mediz-logo-right-text-title">Nigeria's #1</div>
            <div class="mediz-logo-right-text-caption">Orthopaedic Clinic</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header -->
