<div class="mediz-mobile-header-wrap">
  <div class="mediz-mobile-header mediz-header-background mediz-style-slide mediz-sticky-mobile-navigation"
    id="mediz-mobile-header">
    <div class="mediz-mobile-header-container mediz-container clearfix">
      <div class="mediz-logo mediz-item-pdlr">
        <div class="mediz-logo-inner">
          <a class="" href="/"><img src="upload/logo-1.png" alt="" width="290" height="76" title="logo" /></a>
        </div>
      </div>
      <div class="mediz-mobile-menu-right">
        <div class="mediz-main-menu-search" id="mediz-mobile-top-search">
          <i class="fa fa-search"></i>
        </div>
        <div class="mediz-top-search-wrap">
          <div class="mediz-top-search-close"></div>

          <div class="mediz-top-search-row">
            <div class="mediz-top-search-cell">
              <form role="search" method="get" class="search-form" action="index.html">
                <input type="text" class="search-field mediz-title-font" placeholder="Search..." value="" name="s" />
                <div class="mediz-top-search-submit">
                  <i class="fa fa-search"></i>
                </div>
                <input type="submit" class="search-submit" value="Search" />
                <div class="mediz-top-search-close">
                  <i class="icon_close"></i>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="mediz-overlay-menu mediz-mobile-menu" id="mediz-mobile-menu">
          <a class="mediz-overlay-menu-icon mediz-mobile-menu-button mediz-mobile-button-hamburger"
            href="#"><span></span></a>
          <div class="mediz-overlay-menu-content mediz-navigation-font">
            <div class="mediz-overlay-menu-close"></div>
            <div class="mediz-overlay-menu-row">
              <div class="mediz-overlay-menu-cell">
                <ul id="menu-main-navigation" class="menu">
                  <li class="menu-item menu-item-home current-menu-item page_item page-item-7684 current_page_item">
                    <a href="/" aria-current="page">Home</a>
                  </li>
                  <% locals.allPages.forEach(async page=> {
                    const hasChildren =
                    locals.subPages[page.slug].length;
                    %>
                    <li class="menu-item <% if (hasChildren) { %>menu-item-has-children<% } %> mediz-normal-menu">
                      <a href="/pages/<%= page.slug %>">
                        <%= page.title %>
                      </a>
                      <% if (hasChildren) { %>
                        <ul class="sub-menu">
                          <% locals.subPages[page.slug].forEach(subPage=> { %>
                            <li class="menu-item">
                              <a href="/pages/<%= subPage.slug %>">
                                <%= subPage.title %>
                              </a>
                            </li>
                            <% }) %>
                        </ul>
                        <% } %>
                    </li>
                    <% }) %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>