<!-- <div style="min-height: 10px; background-color: brown; margin: 0 auto; padding: 5px 20px;">
        <div class="mediz-navigation-container clearfix mediz-container" style="display: flex; align-items: center;">
          <strong style="margin-right: 10px;color:#FFFFFF;"><%= pageInfo->title %> >></strong>
          <% locals.children.forEach(async (child) => { %>
            <li class="menu-item">
              <a style="color: aliceblue; line-height: 1.2rem; font-size: 1rem; margin: 0 0.5rem;" href="/pages/<%= pageInfo->slug %>/<%= child.slug %>"> <%= child.title %> </a>
            </li>
            <% }) %>
        </div>
      </div> -->