DOMAIN=http://localhost:3001/
DATABASE_URL=mongodb+srv://root:16210Xa0hS7XJUZK@cluster0.in7zad9.mongodb.net/NOHEADMINDB?retryWrites=true&w=majority
MONGOOSE_URI=mongodb+srv://root:16210Xa0hS7XJUZK@cluster0.in7zad9.mongodb.net/NOHEADMINDB?retryWrites=true&w=majority