<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <title>NOHE</title>
    <link
      rel="stylesheet"
      href="plugins/goodlayers-core/plugins/fontawesome/font-awesome.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="plugins/goodlayers-core/plugins/fa5/fa5.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="plugins/goodlayers-core/plugins/elegant/elegant-font.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="plugins/goodlayers-core/plugins/ionicons/ionicons.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="plugins/goodlayers-core/plugins/simpleline/simpleline.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="plugins/goodlayers-core/plugins/style.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="plugins/goodlayers-core/include/css/page-builder.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="plugins/revslider/public/assets/css/rs6.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="plugins/google-map-plugin/assets/css/frontend.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/style-core.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/mediz-style-custom.css"
      type="text/css"
      media="all"
    />
  </head>
</html>
