<div class="mediz-mobile-header-wrap">
  <div
    class="mediz-mobile-header mediz-header-background mediz-style-slide mediz-sticky-mobile-navigation"
    id="mediz-mobile-header"
  >
    <div class="mediz-mobile-header-container mediz-container clearfix">
      <div class="mediz-logo mediz-item-pdlr">
        <div class="mediz-logo-inner">
          <a class="" href="/"
            ><img
              src="upload/logo-1.png"
              alt=""
              width="290"
              height="76"
              title="logo"
          /></a>
        </div>
      </div>
      <div class="mediz-mobile-menu-right">
        <div class="mediz-main-menu-search" id="mediz-mobile-top-search">
          <i class="fa fa-search"></i>
        </div>
        <div class="mediz-top-search-wrap">
          <div class="mediz-top-search-close"></div>

          <div class="mediz-top-search-row">
            <div class="mediz-top-search-cell">
              <form role="search" method="get" class="search-form" action="/">
                <input
                  type="text"
                  class="search-field mediz-title-font"
                  placeholder="Search..."
                  value=""
                  name="s"
                />
                <div class="mediz-top-search-submit">
                  <i class="fa fa-search"></i>
                </div>
                <input type="submit" class="search-submit" value="Search" />
                <div class="mediz-top-search-close">
                  <i class="icon_close"></i>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div
          class="mediz-overlay-menu mediz-mobile-menu"
          id="mediz-mobile-menu"
        >
          <a
            class="mediz-overlay-menu-icon mediz-mobile-menu-button mediz-mobile-button-hamburger"
            href="#"
            ><span></span
          ></a>
          <div class="mediz-overlay-menu-content mediz-navigation-font">
            <div class="mediz-overlay-menu-close"></div>
            <div class="mediz-overlay-menu-row">
              <div class="mediz-overlay-menu-cell">
                <ul id="menu-main-navigation" class="menu">
                  <li
                    class="menu-item menu-item-home current-menu-item page_item page-item-7684 current_page_item"
                  >
                    <a href="/" aria-current="page">Home</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="about-us.html">About Us</a>
                    <ul class="sub-menu">
                      <li class="menu-item">
                        <a href="about-us.html">About Us</a>
                      </li>
                      <li class="menu-item">
                        <a href="about-us-2.html">About Us 2</a>
                      </li>
                      <li class="menu-item">
                        <a href="our-services.html">Our Services</a>
                      </li>
                      <li class="menu-item">
                        <a href="our-services-2.html">Our Services 2</a>
                      </li>
                      <li class="menu-item">
                        <a href="our-services-3.html">Our Services 3</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="our-services.html">Our Services</a>
                    <ul class="sub-menu">
                      <li class="menu-item"><a href="#">Menu Item</a></li>
                      <li class="menu-item menu-item-has-children">
                        <a href="#">Our Services</a>
                        <ul class="sub-menu">
                          <li class="menu-item">
                            <a href="lung-diseases.html">Lung Diseases</a>
                          </li>
                          <li class="menu-item">
                            <a href="heart.html">Heart Diseases</a>
                          </li>
                          <li class="menu-item">
                            <a href="orthopaedic.html">Orthopaedic</a>
                          </li>
                          <li class="menu-item">
                            <a href="general-surgery.html">General Surgery</a>
                          </li>
                          <li class="menu-item">
                            <a href="eye-care.html">Eye Care</a>
                          </li>
                          <li class="menu-item">
                            <a href="dental-service.html">Dental Service</a>
                          </li>
                          <li class="menu-item">
                            <a href="sport-injury.html">Sport Injury</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children">
                        <a href="#">Sub Services</a>
                        <ul class="sub-menu">
                          <li class="menu-item">
                            <a href="lumbar-discectomy.html"
                              >Lumbar Discectomy</a
                            >
                          </li>
                          <li class="menu-item">
                            <a href="endoscopy.html">Endoscopy</a>
                          </li>
                          <li class="menu-item">
                            <a href="knee-arthroscopy-2.html"
                              >Elbow Arthroscopy</a
                            >
                          </li>
                          <li class="menu-item">
                            <a href="colorectal.html">Colorectal</a>
                          </li>
                          <li class="menu-item">
                            <a href="knee-arthroscopy.html">Knee Arthroscopy</a>
                          </li>
                          <li class="menu-item">
                            <a href="hemorrhoids.html">Hemorrhoids</a>
                          </li>
                          <li class="menu-item">
                            <a href="cardio-oncology.html">Cardio Oncology</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children">
                        <a href="#">Service Listing Style</a>
                        <ul class="sub-menu">
                          <li class="menu-item">
                            <a href="our-services.html">Our Services</a>
                          </li>
                          <li class="menu-item">
                            <a href="our-services-2.html">Our Services 2</a>
                          </li>
                          <li class="menu-item">
                            <a href="our-services-3.html">Our Services 3</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="our-doctor.html">Our Doctor</a>
                    <ul class="sub-menu">
                      <li class="menu-item">
                        <a href="our-doctor.html">Our Doctor</a>
                      </li>
                      <li class="menu-item">
                        <a href="our-doctor-2.html">Our Doctor 2</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                      <li class="menu-item">
                        <a href="contact.html">Contact</a>
                      </li>
                      <li class="menu-item">
                        <a href="team-plain-style.html">Team / Plain Style</a>
                      </li>
                      <li class="menu-item">
                        <a href="gallery.html">Gallery</a>
                      </li>
                      <li class="menu-item">
                        <a href="price-table.html">Price Table</a>
                      </li>
                      <li class="menu-item">
                        <a href="maintenance.html">Maintenance</a>
                      </li>
                      <li class="menu-item">
                        <a href="coming-soon.html">Coming Soon</a>
                      </li>
                      <li class="menu-item"><a href="404.html">404 Page</a></li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="portfolio-3-columns.html">Portfolio</a>
                    <ul class="sub-menu">
                      <li class="menu-item menu-item-has-children">
                        <a>Portfolio Grid</a>
                        <ul class="sub-menu">
                          <li class="menu-item">
                            <a href="portfolio-2-columns.html"
                              >Portfolio 2 Columns</a
                            >
                          </li>
                          <li class="menu-item">
                            <a href="portfolio-3-columns.html"
                              >Portfolio 3 Columns</a
                            >
                          </li>
                          <li class="menu-item">
                            <a href="portfolio-4-columns.html"
                              >Portfolio 4 Columns</a
                            >
                          </li>
                          <li class="menu-item">
                            <a href="portfolio-2-columns-with-frame.html"
                              >Portfolio 2 Columns With Frame</a
                            >
                          </li>
                          <li class="menu-item">
                            <a href="portfolio-3-columns-with-frame.html"
                              >Portfolio 3 Columns With Frame</a
                            >
                          </li>
                          <li class="menu-item">
                            <a href="portfolio-4-columns-with-frame.html"
                              >Portfolio 4 Columns With Frame</a
                            >
                          </li>
                          <li class="menu-item">
                            <a href="portfolio-2-columns-no-space.html"
                              >Portfolio 2 Columns No Space</a
                            >
                          </li>
                          <li class="menu-item">
                            <a href="portfolio-3-columns-no-space.html"
                              >Portfolio 3 Columns No Space</a
                            >
                          </li>
                          <li class="menu-item">
                            <a href="portfolio-4-columns-no-space.html"
                              >Portfolio 4 Columns No Space</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children">
                        <a>Portfolio Side Thumbnail</a>
                        <ul class="sub-menu">
                          <li class="menu-item">
                            <a href="portfolio-left-right-large-thumbnail.html"
                              >Portfolio Left &#038; Right Large Thumbnail</a
                            >
                          </li>
                          <li class="menu-item">
                            <a href="portfolio-left-large-thumbnail.html"
                              >Portfolio Left Large Thumbnail</a
                            >
                          </li>
                          <li class="menu-item">
                            <a href="portfolio-right-large-thumbnail.html"
                              >Portfolio Right Large Thumbnail</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="blog-full-right-sidebar.html">Blog</a>
                    <ul class="sub-menu">
                      <li class="menu-item menu-item-has-children">
                        <a href="blog-full-right-sidebar-with-frame.html"
                          >Blog Full</a
                        >
                        <ul class="sub-menu">
                          <li class="menu-item">
                            <a href="blog-full-right-sidebar.html"
                              >Blog Full Right Sidebar</a
                            >
                          </li>
                          <li class="menu-item">
                            <a href="blog-full-left-sidebar.html"
                              >Blog Full Left Sidebar</a
                            >
                          </li>
                          <li class="menu-item">
                            <a href="blog-full-both-sidebar.html"
                              >Blog Full Both Sidebar</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children">
                        <a href="blog-3-columns-with-frame.html"
                          >Blog Columns</a
                        >
                        <ul class="sub-menu">
                          <li class="menu-item">
                            <a href="blog-2-columns-with-frame.html"
                              >Blog 2 Columns With Frame</a
                            >
                          </li>
                          <li class="menu-item">
                            <a href="blog-3-columns-with-frame.html"
                              >Blog 3 Columns With Frame</a
                            >
                          </li>
                          <li class="menu-item">
                            <a href="blog-4-columns-with-frame.html"
                              >Blog 4 Columns With Frame</a
                            >
                          </li>
                          <li class="menu-item">
                            <a href="blog-2-columns.html">Blog 2 Columns</a>
                          </li>
                          <li class="menu-item">
                            <a href="blog-3-columns.html">Blog 3 Columns</a>
                          </li>
                          <li class="menu-item">
                            <a href="blog-4-columns.html">Blog 4 Columns</a>
                          </li>
                          <li class="menu-item">
                            <a href="blog-3-columns-with-frame-post-format.html"
                              >Blog Columns With Post Format</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item">
                        <a href="standard-post-type.html">Single Posts</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
