<div class="gdlr-core-pbf-wrapper" style="padding: 0px 0px 0px 0px" data-skin="">
    <div class="gdlr-core-pbf-background-wrap" style="background-color: #f5f5f5"></div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first" id="gdlr-core-column-28192">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js" style="padding: 105px 60px 55px 0px">
                    <div class="gdlr-core-pbf-background-wrap"></div>
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr"
                                style="padding-bottom: 45px">
                                <div class="gdlr-core-title-item-title-wrap">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="
                      font-size: 32px;
                      font-weight: 700;
                      letter-spacing: 0px;
                      text-transform: none;
                      color: #353535;
                    ">Why Choose N.O.H Enugu?<span class="gdlr-core-title-item-title-side-border gdlr-core-style-lower"
                                            style="
                        border-bottom-width: 4px;
                        border-color: #d8d8d8;
                        border-radius: 2px;
                        -moz-border-radius: 2px;
                        -webkit-border-radius: 2px;
                        width: 44px;
                        margin-left: 15px;
                      "></span><span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr"
                                style="padding-bottom: 0px; margin-bottom: 40px">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image">
                                    <img src="upload/mediz-icon1.png" alt="" width="96" height="97"
                                        title="mediz-icon1" />
                                </div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 7px">
                                        <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="
                        font-size: 19px;
                        font-weight: 600;
                        letter-spacing: 0px;
                        text-transform: none;
                      ">24/7 A & E Support</h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="
                      font-size: 16px;
                      font-weight: 400;
                      text-transform: none;
                    ">
                                        <p class="p1">
                                            Our expert casualty team is available 24 hours a day, 365 days a year to
                                            treat both minor and major injuries.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr"
                                style="padding-bottom: 0px; margin-bottom: 40px">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image">
                                    <img src="upload/mediz-icon2.png" alt="" width="96" height="97"
                                        title="mediz-icon2" />
                                </div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 7px">
                                        <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="
                        font-size: 19px;
                        font-weight: 600;
                        letter-spacing: 0px;
                        text-transform: none;
                      ">
                                            Private & Public GPs
                                        </h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="
                      font-size: 16px;
                      font-weight: 400;
                      text-transform: none;
                    ">
                                        <p class="p1">
                                            Private and Public Outpatient Clinics are available for patients who need
                                            care and treatment but do not require an overnight stay in hospital.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr"
                                style="padding-bottom: 0px; margin-bottom: 0px">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image">
                                    <img src="upload/mediz-icon3.png" alt="" width="96" height="97"
                                        title="mediz-icon3" />
                                </div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 7px">
                                        <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="
                        font-size: 19px;
                        font-weight: 600;
                        letter-spacing: 0px;
                        text-transform: none;
                      ">
                                            Any Time Surgery
                                        </h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="
                      font-size: 16px;
                      font-weight: 400;
                      text-transform: none;
                    ">
                                        <p class="p1">With our well-equiped sugery department, we are able to carry out
                                            any type of surgery at any time and on-demand.</p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-30" id="gdlr-core-column-25407">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-column-extend-right"
                    style="padding: 175px 0px 55px 60px">
                    <div class="gdlr-core-pbf-background-wrap">
                        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="
                background-image: url(upload/hp1-contact-form-bg.jpg);
                background-size: cover;
                background-position: center;
              " data-parallax-speed="0"></div>
                    </div>
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr"
                                style="padding-bottom: 20px">
                                <div class="gdlr-core-title-item-title-wrap">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="
                      font-size: 32px;
                      font-weight: 700;
                      letter-spacing: 0px;
                      text-transform: none;
                      color: #ffffff;
                    ">
                                        Make an appointment<span
                                            class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align gdlr-core-no-p-space"
                                style="padding-bottom: 40px">
                                <div class="gdlr-core-text-box-item-content" style="
                    font-size: 17px;
                    font-weight: 400;
                    letter-spacing: 0px;
                    text-transform: none;
                    color: #9ebeff;
                  ">
                                    <p>
                                        We will send you a confirmation within 24 hours.
                                        <br /><strong><span style="color: #ffffff">Emergency?</span></strong>
                                        Call <%= locals.settings.sitePhone %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-contact-form-7-item gdlr-core-item-pdlr gdlr-core-item-pdb"
                                style="padding-bottom: 0px">
                                <div role="form" class="wpcf7" id="wpcf7-f5826-p7684-o1" lang="en-US" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
                                        <div style="display: none">
                                            <input type="hidden" name="_wpcf7" value="5826" />
                                        </div>
                                        <div
                                            class="gdlr-core-input-wrap gdlr-core-large gdlr-core-full-width gdlr-core-with-column gdlr-core-no-border">
                                            <div class="gdlr-core-column-30">
                                                <span class="wpcf7-form-control-wrap your-name"><input type="email"
                                                        name="your-name" value="" size="40"
                                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                        aria-required="true" aria-invalid="false" required
                                                        placeholder="First Name*" /></span>
                                            </div>
                                            <div class="gdlr-core-column-30">
                                                <span class="wpcf7-form-control-wrap your-name"><input type="email"
                                                        name="your-name" value="" size="40"
                                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                        aria-required="true" aria-invalid="false" required
                                                        placeholder="Last Name*" /></span>
                                            </div>
                                            <div class="gdlr-core-column-30">
                                                <span class="wpcf7-form-control-wrap your-phone"><input type="text"
                                                        name="your-phone" value="" size="40"
                                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                        aria-required="true" aria-invalid="false" required
                                                        placeholder="Phone*" /></span>
                                            </div>
                                            <div class="gdlr-core-column-30">
                                                <span class="wpcf7-form-control-wrap your-email"><input type="email"
                                                        name="your-email" value="" size="40"
                                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                        aria-required="true" aria-invalid="false" required
                                                        placeholder="Email*" /></span>
                                            </div>

                                            <div class="clear"></div>
                                            <div class="gdlr-core-column-30">
                                                <span class="wpcf7-form-control-wrap your-date"><input type="date"
                                                        name="your-date" value="" class="wpcf7-form-control wpcf7-text"
                                                        aria-invalid="false" required placeholder="Date" /></span>
                                            </div>
                                            <div class="gdlr-core-column-30">
                                                <span class="wpcf7-form-control-wrap your-time"><input type="time"
                                                        name="your-time" value="" required
                                                        class="wpcf7-form-control wpcf7-text" aria-invalid="false"
                                                        placeholder="Time" /></span>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="gdlr-core-column-60">
                                                <span class="wpcf7-form-control-wrap your-message">
                                                    <textarea name="your-message" cols="40" rows="10"
                                                        class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                                                        aria-required="true" aria-invalid="false" required
                                                        placeholder="Message*"></textarea>
                                                </span>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="gdlr-core-column-60 gdlr-core-left-align">
                                                <input type="submit" value="Submit Now" disabled="disabled"
                                                    class="wpcf7-form-control wpcf7-submit gdlr-core-full" />
                                            </div>
                                        </div>
                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>