<div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;">
    <div class="gdlr-core-pbf-background-wrap" style="background-color: #113989 ;"></div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-tab-feature3-item gdlr-core-tab-action gdlr-core-js gdlr-core-item-pdb  gdlr-core-size-4"
                    style="padding-bottom: 0px ;">
                    <div class="gdlr-core-tab-feature3-title-item-wrap clearfix">
                        <div class="gdlr-core-tab-feature3-title-wrap gdlr-core-tab-action-title gdlr-core-column-15  gdlr-core-active gdlr-core-js clearfix"
                            data-tab-id="1">
                            <div class="gdlr-core-tab-feature3-title-overlay"></div>
                            <div class="gdlr-core-tab-feature3-title-sign"></div>
                            <div class="gdlr-core-tab-feature3-title-content">
                                <h3 class="gdlr-core-tab-feature3-title">Hospital Introduction</h3>
                                <div class="gdlr-core-tab-feature3-caption">Why many people choose N.O.H Enugu.</div>
                            </div>
                        </div>
                        <div class="gdlr-core-tab-feature3-title-wrap gdlr-core-tab-action-title gdlr-core-column-15  gdlr-core-js clearfix"
                            data-tab-id="2">
                            <div class="gdlr-core-tab-feature3-title-overlay"></div>
                            <div class="gdlr-core-tab-feature3-title-sign"></div>
                            <div class="gdlr-core-tab-feature3-title-content">
                                <h3 class="gdlr-core-tab-feature3-title">Burns & Plastic Emergency</h3>
                                <div class="gdlr-core-tab-feature3-caption">Listen to our team from Burns and Plastic
                                    Department</div>
                            </div>
                        </div>
                        <div class="gdlr-core-tab-feature3-title-wrap gdlr-core-tab-action-title gdlr-core-column-15  gdlr-core-js clearfix"
                            data-tab-id="3">
                            <div class="gdlr-core-tab-feature3-title-overlay"></div>
                            <div class="gdlr-core-tab-feature3-title-sign"></div>
                            <div class="gdlr-core-tab-feature3-title-content">
                                <h3 class="gdlr-core-tab-feature3-title">NOHE Clean Hand & Hygiene Song</h3>
                                <div class="gdlr-core-tab-feature3-caption">Social behavior on Cleanlines and
                                    Hygiene is key</div>
                            </div>
                        </div>
                        <div class="gdlr-core-tab-feature3-title-wrap gdlr-core-tab-action-title gdlr-core-column-15  gdlr-core-js clearfix"
                            data-tab-id="4">
                            <div class="gdlr-core-tab-feature3-title-overlay"></div>
                            <div class="gdlr-core-tab-feature3-title-sign"></div>
                            <div class="gdlr-core-tab-feature3-title-content">
                                <h3 class="gdlr-core-tab-feature3-title">The Medical Director (October, 2021)</h3>
                                <div class="gdlr-core-tab-feature3-caption">World Hands Hygiene Day 2021</div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-tab-feature3-item-content-wrap gdlr-core-tab-action-content-wrap clearfix">
                        <div class="gdlr-core-tab-feature3-content-wrap  gdlr-core-active" data-tab-id="1"
                            style="background-image: url(upload/video-featured-1-1.jpg) ;">
                            <div class="gdlr-core-tab-feature3-content-top-overlay"
                                style="background: linear-gradient(rgba(17, 57, 137, 0), rgba(17, 57, 137, 1));-moz-background: linear-gradient(rgba(17, 57, 137, 0), rgba(17, 57, 137, 1));-o-background: linear-gradient(rgba(17, 57, 137, 0), rgba(17, 57, 137, 1));-webkit-background: linear-gradient(rgba(17, 57, 137, 0), rgba(17, 57, 137, 1));">
                            </div>
                            <div class="gdlr-core-tab-feature3-content-top-overlay2"></div>
                            <div class="gdlr-core-tab-feature3-content-bottom-overlay" style="background: #113989 ;">
                            </div>
                            <div class="gdlr-core-container clearfix">
                                <div class="gdlr-core-tab-feature3-top" style="height: 500px ;"><a
                                        class="gdlr-core-lightgallery gdlr-core-js gdlr-core-tab-feature3-video-lb"
                                        href="https://www.youtube.com/embed/rxa2VevUOdY"><i class="fa fa-play"></i></a>
                                    <div class="clear"></div>
                                </div>
                                <div class="gdlr-core-tab-feature3-content-left gdlr-core-item-pdlr">
                                    <h3 class="gdlr-core-tab-feature3-content-left-title">About N.O.H<span
                                            class="gdlr-core-tab-feature3-content-left-title-divider"></span></h3>
                                    <div class="gdlr-core-tab-feature3-content-left-image gdlr-core-media-image"><img
                                            src="upload/video-featured-1-2.jpg" alt="" width="500" height="276"
                                            title="video-featured-1-2" /></div>
                                </div>
                                <div class="gdlr-core-tab-feature3-content-right gdlr-core-item-pdlr">

                                    National Orthopaedic Hospital Enugu is a Federal Government owned tertiary hospital
                                    and trauma centre located in Enugu, Enugu State, Nigeria. It is one of the three
                                    orthopaedic hospitals in Nigeria.
                                    <span class="gdlr-core-space-shortcode" style="margin-top: 20px ;"></span>
                                    <div style="color: #C4D8FF; font-size: 18px; line-height: 1.7;">
                                        It is a
                                        referral centre for orthopaedic and trauma cases from the South East, South
                                        South
                                        and North Central zones of Nigeria. The hospital is also a training centre for
                                        orthopaedic and trauma nurses, physiotherapists, occupational therapists,
                                        orthopaedic technicians and technologists.
                                    </div>
                                    <span class="gdlr-core-space-shortcode" style="margin-top: 35px ;"></span>
                                    <a class="gdlr-core-button gdlr-core-button-shortcode  gdlr-core-button-gradient gdlr-core-button-no-border"
                                        href="/pages/about-us"
                                        style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;padding: 12px 24px 15px 30px;text-transform: none ;margin-right: 20px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;background: #4D93E9 ;"><span
                                            class="gdlr-core-content">Learn More</span><i
                                            class="gdlr-core-pos-right arrow_right" style="font-size: 23px ;"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-tab-feature3-content-wrap " data-tab-id="2"
                            style="background-image: url(upload/video-featured-2-1.jpg) ;">
                            <div class="gdlr-core-tab-feature3-content-top-overlay"
                                style="background: linear-gradient(rgba(17, 57, 137, 0), rgba(17, 57, 137, 1));-moz-background: linear-gradient(rgba(17, 57, 137, 0), rgba(17, 57, 137, 1));-o-background: linear-gradient(rgba(17, 57, 137, 0), rgba(17, 57, 137, 1));-webkit-background: linear-gradient(rgba(17, 57, 137, 0), rgba(17, 57, 137, 1));">
                            </div>
                            <div class="gdlr-core-tab-feature3-content-top-overlay2"></div>
                            <div class="gdlr-core-tab-feature3-content-bottom-overlay" style="background: #113989 ;">
                            </div>
                            <div class="gdlr-core-container clearfix">
                                <div class="gdlr-core-tab-feature3-top" style="height: 500px ;"><a
                                        class="gdlr-core-lightgallery gdlr-core-js gdlr-core-tab-feature3-video-lb"
                                        href="https://www.youtube.com/embed/kpctSCl5yH4"><i class="fa fa-play"></i></a>
                                    <div class="clear"></div>
                                </div>
                                <div class="gdlr-core-tab-feature3-content-left gdlr-core-item-pdlr">
                                    <h3 class="gdlr-core-tab-feature3-content-left-title">Why N.O.H?<span
                                            class="gdlr-core-tab-feature3-content-left-title-divider"></span></h3>
                                    <div class="gdlr-core-tab-feature3-content-left-image gdlr-core-media-image"><img
                                            src="upload/video-featured-2-2.jpg" alt="" width="500" height="276"
                                            title="video-featured-2-2" /></div>
                                </div>
                                <div class="gdlr-core-tab-feature3-content-right gdlr-core-item-pdlr"> The hospital was
                                    established in 1967 by the colonial masters as a centre of
                                    It was formerly known as National Orthopaedic Hospital.
                                    <span class="gdlr-core-space-shortcode" style="margin-top: 20px ;"></span>
                                    <div style="color: #C4D8FF; font-size: 18px; line-height: 1.7;">
                                        It is a referral centre for orthopaedic and trauma cases from the South East,
                                        South South
                                        and North Central zones of Nigeria. The hospital is also a training centre for
                                        orthopaedic and trauma nurses, physiotherapists, occupational therapists,
                                        orthopaedic technicians and technologists.
                                    </div>
                                    <span class="gdlr-core-space-shortcode" style="margin-top: 35px ;"></span>
                                    <a class="gdlr-core-button gdlr-core-button-shortcode  gdlr-core-button-gradient gdlr-core-button-no-border"
                                        href="/pages/about-us"
                                        style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;padding: 12px 24px 15px 30px;text-transform: none ;margin-right: 20px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;background: #4D93E9 ;"><span
                                            class="gdlr-core-content">Learn More</span><i
                                            class="gdlr-core-pos-right arrow_right" style="font-size: 23px ;"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-tab-feature3-content-wrap " data-tab-id="3"
                            style="background-image: url(upload/video-featured-3-1.jpg) ;">
                            <div class="gdlr-core-tab-feature3-content-top-overlay"
                                style="background: linear-gradient(rgba(17, 57, 137, 0), rgba(17, 57, 137, 1));-moz-background: linear-gradient(rgba(17, 57, 137, 0), rgba(17, 57, 137, 1));-o-background: linear-gradient(rgba(17, 57, 137, 0), rgba(17, 57, 137, 1));-webkit-background: linear-gradient(rgba(17, 57, 137, 0), rgba(17, 57, 137, 1));">
                            </div>
                            <div class="gdlr-core-tab-feature3-content-top-overlay2"></div>
                            <div class="gdlr-core-tab-feature3-content-bottom-overlay" style="background: #113989 ;">
                            </div>
                            <div class="gdlr-core-container clearfix">
                                <div class="gdlr-core-tab-feature3-top" style="height: 500px ;"><a
                                        class="gdlr-core-lightgallery gdlr-core-js gdlr-core-tab-feature3-video-lb"
                                        href="https://www.youtube.com/embed/stzW-Iw4_4s"><i class="fa fa-play"></i></a>
                                    <div class="clear"></div>
                                </div>
                                <div class="gdlr-core-tab-feature3-content-left gdlr-core-item-pdlr">
                                    <h3 class="gdlr-core-tab-feature3-content-left-title">Our innovation<span
                                            class="gdlr-core-tab-feature3-content-left-title-divider"></span></h3>
                                    <div class="gdlr-core-tab-feature3-content-left-image gdlr-core-media-image"><img
                                            src="upload/video-featured-3-2-1.jpg" alt="" width="500" height="276"
                                            title="video-featured-3-2" /></div>
                                </div>
                                <div class="gdlr-core-tab-feature3-content-right gdlr-core-item-pdlr">The hospital was
                                    renamed to National Orthopaedic Hospital, Enugu in 2019 by President Muhammadu
                                    Buhari.
                                    <span class="gdlr-core-space-shortcode" style="margin-top: 20px ;"></span>
                                    <div style="color: #C4D8FF; font-size: 18px; line-height: 1.7;">
                                        The hospital is a 200 bed capacity hospital with 10 wards and 4 theatres and is
                                        also a training centre
                                        for orthopaedic and trauma nurses, physiotherapists, occupational therapists,
                                        orthopaedic technicians and technologists.
                                    </div>
                                    <span class="gdlr-core-space-shortcode" style="margin-top: 35px ;"></span>
                                    <a class="gdlr-core-button gdlr-core-button-shortcode  gdlr-core-button-gradient gdlr-core-button-no-border"
                                        href="/pages/about-us"
                                        style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;padding: 12px 24px 15px 30px;text-transform: none ;margin-right: 20px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;background: #4D93E9 ;"><span
                                            class="gdlr-core-content">Learn More</span><i
                                            class="gdlr-core-pos-right arrow_right" style="font-size: 23px ;"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-tab-feature3-content-wrap " data-tab-id="4"
                            style="background-image: url(upload/video-featured-4-1.jpg) ;">
                            <div class="gdlr-core-tab-feature3-content-top-overlay"
                                style="background: linear-gradient(rgba(17, 57, 137, 0), rgba(17, 57, 137, 1));-moz-background: linear-gradient(rgba(17, 57, 137, 0), rgba(17, 57, 137, 1));-o-background: linear-gradient(rgba(17, 57, 137, 0), rgba(17, 57, 137, 1));-webkit-background: linear-gradient(rgba(17, 57, 137, 0), rgba(17, 57, 137, 1));">
                            </div>
                            <div class="gdlr-core-tab-feature3-content-top-overlay2"></div>
                            <div class="gdlr-core-tab-feature3-content-bottom-overlay" style="background: #113989 ;">
                            </div>
                            <div class="gdlr-core-container clearfix">
                                <div class="gdlr-core-tab-feature3-top" style="height: 500px ;"><a
                                        class="gdlr-core-lightgallery gdlr-core-js gdlr-core-tab-feature3-video-lb"
                                        href="https://www.youtube.com/embed/KAvQsRL-jeo"><i class="fa fa-play"></i></a>
                                    <div class="clear"></div>
                                </div>
                                <div class="gdlr-core-tab-feature3-content-left gdlr-core-item-pdlr">
                                    <h3 class="gdlr-core-tab-feature3-content-left-title">Give Back<span
                                            class="gdlr-core-tab-feature3-content-left-title-divider"></span></h3>
                                    <div class="gdlr-core-tab-feature3-content-left-image gdlr-core-media-image"><img
                                            src="upload/video-featured-4-2.jpg" alt="" width="500" height="276"
                                            title="video-featured-4-2" /></div>
                                </div>
                                <div class="gdlr-core-tab-feature3-content-right gdlr-core-item-pdlr">Our Team of
                                    Doctors and Nurses are always ready to give back to the society. We have been to
                                    many communities to give back to the society.
                                    <span class="gdlr-core-space-shortcode" style="margin-top: 20px ;"></span>
                                    <div style="color: #C4D8FF; font-size: 18px; line-height: 1.7;">
                                        The hospital is a 200 bed capacity hospital with 10 wards and 4 theatres and is
                                        also a training centre
                                        for orthopaedic and trauma nurses, physiotherapists, occupational therapists,
                                        orthopaedic technicians and technologists.
                                    </div>
                                    <span class="gdlr-core-space-shortcode" style="margin-top: 35px ;"></span>
                                    <a class="gdlr-core-button gdlr-core-button-shortcode  gdlr-core-button-gradient gdlr-core-button-no-border"
                                        href="/pages/about-us"
                                        style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;padding: 12px 24px 15px 30px;text-transform: none ;margin-right: 20px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;background: #4D93E9 ;"><span
                                            class="gdlr-core-content">Learn More</span><i
                                            class="gdlr-core-pos-right arrow_right" style="font-size: 23px ;"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>