<div class="gdlr-core-pbf-wrapper " style="margin-bottom: 0px; padding: 75px 0px 0px 0px; z-index: 9 ;"
    data-skin="Personnel">
    <div class="gdlr-core-pbf-background-wrap"></div>
    <div class="gdlr-core-pbf-background-wrap" style="top: 65px ;">
        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
            style="background-image: url(upload/our-doctors.jpg) ;background-repeat: no-repeat ;background-position: top center ;"
            data-parallax-speed="0"></div>
    </div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-40 gdlr-core-column-first" id="gdlr-core-column-21311">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 0px 0px 33px 0px;">
                    <div class="gdlr-core-pbf-background-wrap"></div>
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr"
                                style="padding-bottom: 0px ;">
                                <div class="gdlr-core-title-item-title-wrap ">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                        style="font-size: 36px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;color: #1c4ca5 ;">
                                        Our Doctors<span
                                            class="gdlr-core-title-item-title-side-border gdlr-core-style-lower"
                                            style="border-bottom-width: 4px ;border-color: #d8d8d8 ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;width: 44px ;margin-left: 15px ;"></span><span
                                            class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-11422">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 40px 0px 0px 0px;">
                    <div class="gdlr-core-pbf-background-wrap"></div>
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-right-align"
                                style="padding-bottom: 0px ;"><a
                                    class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-right-align gdlr-core-button-no-border"
                                    href="#"
                                    style="font-size: 16px ;font-weight: 500 ;letter-spacing: 0px ;color: #17449e ;padding: 0px 0px 0px 0px;text-transform: none ;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;"><span
                                        class="gdlr-core-content">See All Doctors</span><i
                                        class="gdlr-core-pos-right arrow_right"
                                        style="font-size: 24px ;color: #17449e ;"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-personnel-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-personnel-item-style-grid-with-background gdlr-core-personnel-style-grid gdlr-core-with-background gdlr-core-item-pdlr"
                    style="padding-bottom: 40px ;">
                    <div class="gdlr-core-flexslider flexslider gdlr-core-js-2  gdlr-core-bullet-style-round gdlr-core-color-bullet"
                        data-type="carousel" data-column="3" data-move="1" data-nav="bullet"
                        data-nav-parent="gdlr-core-personnel-item" data-disable-autoslide="1">
                        <ul class="slides">
                            <% doctors.forEach(doctor=> { %>
                                <li class="gdlr-core-item-mglr">
                                    <div class="gdlr-core-personnel-list clearfix gdlr-core-outer-frame-element"
                                        style="box-shadow: 0 0 35px rgba(0, 0, 0,0.1); -moz-box-shadow: 0 0 35px rgba(0, 0, 0,0.1); -webkit-box-shadow: 0 0 35px rgba(0, 0, 0,0.1); border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;">
                                        <div
                                            class="gdlr-core-personnel-list-image gdlr-core-media-image  gdlr-core-hover-element gdlr-core-zoom-on-hover">
                                            <a href="#"><img src="upload/p-1.1-400x400.jpg" width="600" height="600"
                                                    alt="" /></a>
                                            <div class="gdlr-core-hover-opacity"></div>
                                        </div>
                                        <div class="gdlr-core-personnel-list-content-wrap ">
                                            <h3 class="gdlr-core-personnel-list-title"
                                                style="font-size: 20px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;">
                                                <a href="#">Joshua Clark <%= doctor.firstname %></a>
                                            </h3>
                                            <div class="gdlr-core-personnel-list-position gdlr-core-info-font gdlr-core-skin-caption"
                                                style="font-size: 15px ;font-weight: 400 ;font-style: normal ;letter-spacing: 0px ;">
                                                Anesthesiologist</div>
                                        </div>
                                    </div>
                                </li>
                                <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>