<div
  class="gdlr-core-pbf-wrapper"
  style="padding: 10px 0px 10px 0px"
  id="gdlr-core-wrapper-1"
>
  <div
    class="gdlr-core-pbf-background-wrap"
    style="background-color: #f7f7f7"
  ></div>
  <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
      <img
        src="/images/noson.png"
        style="position: relative; width: 100%; margin: 0 auto; display: block"
        alt="School Of Nursing"
      />
    </div>
  </div>
</div>
