<div class="gdlr-core-pbf-wrapper" style="padding: 0px 0px 0px 0px" data-skin="HP Column SVC Bottom">
    <div class="gdlr-core-pbf-background-wrap"></div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
            <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first" id="gdlr-core-column-82563">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js" style="padding: 75px 70px 60px 70px"
                    data-sync-height="col-features-hp" data-sync-height-center>
                    <div class="gdlr-core-pbf-background-wrap" style="background-color: #113377"></div>
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js gdlr-core-sync-height-content">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb gdlr-core-center-align gdlr-core-no-caption gdlr-core-item-pdlr"
                                style="padding-bottom: 0px">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image" style="
      max-width: 92px;
      margin-left: auto;
      margin-right: auto;
    ">
                                    <img src="upload/col-feature-1.png" alt="" width="150" height="150"
                                        title="col-feature-1" />
                                </div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 15px">
                                        <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="
          font-size: 21px;
          padding-top: 10px;
          font-weight: 600;
          letter-spacing: 0px;
          text-transform: none;
        ">
                                            Best Clinical Response
                                        </h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
      ">
                                        <p>
                                            We use technology to equip our medical staff with better resources. Our
                                            medical records are now consolidated online with patient has one file with
                                            all their
                                            information.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-16983">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js" style="padding: 75px 70px 60px 70px"
                    data-sync-height="col-features-hp" data-sync-height-center>
                    <div class="gdlr-core-pbf-background-wrap" style="background-color: #113377">
                        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="
  background-image: url(upload/Bg-Column.jpg);
  background-size: cover;
  background-position: center;
" data-parallax-speed="0"></div>
                    </div>
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js gdlr-core-sync-height-content">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb gdlr-core-center-align gdlr-core-no-caption gdlr-core-item-pdlr"
                                style="padding-bottom: 0px">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image" style="
      max-width: 92px;
      margin-left: auto;
      margin-right: auto;
    ">
                                    <img src="upload/col-feature-2.png" alt="" width="150" height="150"
                                        title="col-feature-2" />
                                </div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 15px">
                                        <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="
          font-size: 21px;
          padding-top: 10px;
          font-weight: 600;
          letter-spacing: 0px;
          text-transform: none;
        ">
                                            Advanced Sugery Tools
                                        </h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
      ">
                                        <p>
                                            With world-best advanced sugery tools, we are confident to bring our
                                            patients the best clinical response and the most effective treatment.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-63284">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js" style="padding: 75px 70px 60px 70px"
                    data-sync-height="col-features-hp" data-sync-height-center>
                    <div class="gdlr-core-pbf-background-wrap" style="background-color: #17449e"></div>
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js gdlr-core-sync-height-content">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb gdlr-core-center-align gdlr-core-no-caption gdlr-core-item-pdlr"
                                style="padding-bottom: 0px">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image" style="
      max-width: 92px;
      margin-left: auto;
      margin-right: auto;
    ">
                                    <img src="upload/col-feature-3.png" alt="" width="150" height="150"
                                        title="col-feature-3" />
                                </div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 15px">
                                        <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="
          font-size: 21px;
          padding-top: 10px;
          font-weight: 600;
          letter-spacing: 0px;
          text-transform: none;
        ">
                                            Only Best Doctors
                                        </h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
      ">
                                        <p>
                                            Our doctors are the best in their field. They are well-trained and
                                            experienced. They are also passionate about their work and always try to
                                            bring the best
                                            results to our patients.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>